	hr{
		margin-top: -3px;
	}
	a:hover{
		text-decoration: none;
	}
	.bg-icon-profile{
		min-width: 45px;
		max-width: 45px;
		min-height:  45px;
		max-height: 45px;
		border-radius: 50%;
		background: white;
		margin-left: 10px;
		margin-top: 2px;
		align-items: center;
	}
	.icon-profile{
		min-width: 40px;
		max-width: 40px;
		min-height:  40px;
		max-height: 40px;
	}
	.title-profile{
		font-size: 22px;
		font-weight: 600;
		color: white;
		padding-left: 15px;
		padding-top: 7px;
	}
	.img-deskr{
		max-width: 200px;
		min-width: 200px;
		max-height: 250px;
		min-height: 250px;
	}
	.bg-img-deskr{
		max-width: 210px;
		min-width: 210px;
		max-height: 260px;
		min-height: 260px;
		background: #fff5e6;
	}
	.deskr-title{
		padding: 20px;
		font-size: 24px;
		font-weight: 700;
		background: #fff5e6;
	}
	.deskr-subtitle{
		padding: 20px;
		font-size: 18px;
		font-weight: 600;
		background: #fff5e6;
	}
	.active{
		font-weight: 700;
	}
	.main-brand{
		font-family:'Comic Sans MS',cursive;
		color: orange;		
	}
	.sub-brand{
		font-family: Arial,Helmet,Freesans,sans-serif;
		color: orange;
		margin-top: -7px;
	}
	.konten-kanan{
		min-height: 400px;
		min-width: auto;
		background: #fff5e6;
		margin-top: -5px;
		padding-top: 15px;
	}
	.novel-list-bg{
		min-width: 50px;
		max-width: 50px;
		max-height: 50px;
		min-height: 50px;
		background: white;		
		border-radius: 50%;
		padding: 5px 5px 5px 5px;
	}
	.novel-list-img{
		min-width: 30px;
		max-width: 30px;
		max-height: 30px;
		max-height: 30px;
	}
	.novel-list-judul{		
		margin-left: 5px;
		margin-right: 5px;
		cursor: orange;

	}
	.title-konten{
		color: #e67300;
	}
	.title-field{
		background: orange;
		color: white;
		padding-top: 10px;
		padding-bottom: 7px;
		text-align: center;
	}
	.list-item{
		padding: 5px 5px 5px 5px;
		margin: 5px 5px 5px 5px;
	}
	.form-login{
		min-height: 350px;
		margin-top: 20px;
	}
	.title-login{
		padding-top: 40px;
		padding-bottom: 15px;
		text-align: center;
		color: orange;
		font-weight: 500;
	}
	.footer{
		background: orange;
		color: white;
		min-height: 50px;
		padding-top: 10px;
		padding-right: 10px;
		font-size: 16px;
		margin-top: 15px;
	}
	.material-switch > input[type="checkbox"] {
    display: none;   
	}

	.material-switch > label {
	    cursor: pointer;
	    height: 0px;
	    position: relative; 
	    width: 40px;  
	}

	.material-switch > label::before {
	    background: rgb(0, 0, 0);
	    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	    border-radius: 8px;
	    content: '';
	    height: 16px;
	    margin-top: -8px;
	    position:absolute;
	    opacity: 0.3;
	    transition: all 0.4s ease-in-out;
	    width: 40px;
	}
	.material-switch > label::after {
	    background: rgb(255, 255, 255);
	    border-radius: 16px;
	    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	    content: '';
	    height: 24px;
	    left: -4px;
	    margin-top: -8px;
	    position: absolute;
	    top: -4px;
	    transition: all 0.3s ease-in-out;
	    width: 24px;
	}
	.material-switch > input[type="checkbox"]:checked + label::before {
	    background: inherit;
	    opacity: 0.5;
	}
	.material-switch > input[type="checkbox"]:checked + label::after {
	    background: inherit;
	    left: 20px;
	}